* {
  margin: 0;
  padding: 0;
}
:root {
  --navbar-height: 59px;
}
#navbar {
  display: flex;
  align-items: center;
}
#logo {
  margin: 5px 10px;
}
#logo img {
  height: 70px;
  margin: 3px 5px;
}
#navbar {
  position: absolute;
  top: 0px;
}
#navbar ul {
  display: flex;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 90%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color: white;
  display: block;
  padding: 2px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/*Home Section*/

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 578px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  background: url(../bg1.jpg) no-repeat center center/cover;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}
#home h1 {
  color: white;
  text-align: center;
}
#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
/* services */
#services {
  margin: 30px;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 6px;
  border-radius: 28px;
  background: #efe7e7;
}
#services .box img {
  height: 150px;
  margin: auto;
  display: block;
}

/* utility */

.h-primary {
  font-size: 3.8rem;
  padding: 12px;
}
.h-secondary {
  font-size: 2.8rem;
  padding: 12px;
}
.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.center {
  text-align: center;
}

/* services */
#services {
  margin: 34px;
  display: flex;
}
#services.box {
  border: 2px solid brown;
  margin: 25px 6px;
  margin-top: 20px;
}
#services.box img {
  height: 70px;
  margin: 5px;
  display: block;
}

footer {
  background: black;
  color: white;
  padding: 11px 20px;
}
